:root {
  --loading-bg-color: rgb(49, 49, 49);
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Arial Narrow", Arial, sans-serif;
}
html,
body {
  height: 100%;
}
section {
  padding: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 8px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0px;
  margin-bottom: 8px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.65em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.22em;
}
h6 {
  font-size: 1.15em;
}
p,
code,
pre {
  font-size: 1.1em;
}
#threeDisplay,
canvas {
  position: relative;
  display: block;
  width: 100%;
  /*height: 500px;*/
  /*background: radial-gradient(#ffffff, #ababab);*/
  overflow: hidden;
}
canvas {
  /*width: 100%;*/
  height: 100%;
}
.function {
  position: relative;
  display: block;
  padding: 10px;
  margin: 20px 0px;
  border-left: 4px solid rgb(100, 180, 255);
}
.function h3 {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
code,
code > b,
code > i {
  font-size: 1em;
  color: rgb(98, 98, 98);
  white-space: pre;
  font-family: Consolas, sans-serif;
}
.highlighted_red {
  color: red;
}
.inline_code {
  color: rgb(40, 40, 40);
  background-color: #eee;
  padding: 2px 6px;
}
b > .inline_code {
  font-weight: bold;
}
.ui {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  transition: opacity 1s ease;
}
.largeButton {
  position: relative;
  display: block;
  width: 200px;
  height: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid white;
  margin-top: 6%;
  font-weight: bold;
  font-size: 2em;
  color: white;
}
.hidden {
  display: none;
}
#loadingUI {
  background-color: var(--loading-bg-color);
  align-items: center;
  overflow: hidden;
}
.invisible {
  opacity: 0;
}
#shipWheel {
  position: absolute;
  display: block;
  width: 350px;
  height: 350px;
  background: #ffffff;
  -webkit-mask-image: url("./6/ship_wheel.svg");
  mask-image: url("./6/ship_wheel.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  animation: 6s linear infinite spinner;
  transition: opacity 500ms ease;
}
.innerFrame {
  position: absolute;
  display: block;
  top: 0.25em;
  left: 0.25em;
  bottom: 0.25em;
  right: 0.25em;
  border: 1px solid white;
}
.outerFrame {
  position: absolute;
  display: block;
  top: 2em;
  left: 2em;
  bottom: 2em;
  right: 2em;
  border: 3px solid white;
}
#loadingOuterFrame {
  position: absolute;
  display: block;
  top: calc(2em + 3px);
  left: calc(2em + 3px);
  bottom: calc(2em + 3px);
  right: calc(2em + 3px);
  background-color: var(--loading-bg-color);
}
#loadingOuterFrameBacking {
  position: absolute;
  display: block;
  top: 2em;
  left: 2em;
  bottom: 2em;
  right: 2em;
  width: auto;
  height: auto;
  background-color: transparent;
}
#loadingInnerFrame {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: calc(0.25em + 1px);
  left: calc(0.25em + 1px);
  bottom: calc(0.25em + 1px);
  right: calc(0.25em + 1px);
  background-color: var(--loading-bg-color);
}
#loadingInnerFrameBacking {
  position: absolute;
  display: block;
  top: 0.25em;
  left: 0.25em;
  bottom: 0.25em;
  right: 0.25em;
  width: auto;
  height: auto;
  background-color: transparent;
}
.navButton,
.skeletonButton {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
  z-index: 2;
}
.skeletonButton {
  opacity: 0;
  background-color: lightgrey;
}
.navButton {
  opacity: 1;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
}
.navButton:hover {
  background-color: black;
}
.navButton:hover svg {
  fill: white;
}
.navButton:hover ~ .selectionText {
  opacity: 1;
  letter-spacing: 40px;
}
.navButton:hover ~ .attentionAura {
  animation: 1s ease-in infinite normal running buttonPresence;
  animation-fill-mode: backwards;
}
.attentionAura,
.skeletonAura {
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: white;
  width: 0px;
  height: 0px;
  z-index: 1;
}
.attentionButton {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  /*margin: 1em 1em 1em 2em;*/
}
.selectionText {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  color: white;
  margin: 0px auto;
  letter-spacing: 5px;
  top: 0.5em;
  text-shadow: 0px 0px 6px #000000;
  transition: letter-spacing 1s ease, opacity 200ms ease;
  opacity: 0;
  z-index: 1;
}
.selectionText.active {
  opacity: 1;
  letter-spacing: 40px;
}
.icon {
  position: relative;
  display: block;
  width: 60%;
  height: 60%;
}
.sideButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0px;
  left: 0px;
  margin-left: 2em;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes buttonPresence {
  from {
    width: 99px;
    height: 99px;
    opacity: 0.8;
  }
  to {
    width: 250px;
    height: 250px;
    opacity: 0;
  }
}

@keyframes skeletonButtonPresence {
  from {
    width: 0px;
    height: 0px;
    opacity: 0.8;
  }
  to {
    width: 250px;
    height: 250px;
    opacity: 0;
  }
}

@keyframes bouncy {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  60% {
    width: 120px;
    height: 120px;
    opacity: 1;
  }
  80% {
    width: 90px;
    height: 90px;
    opacity: 1;
  }
  90% {
    width: 104px;
    height: 104px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 1;
  }
}
